### 1번

In [2]:
import pandas as pd

data = [['Afghanistan', 'Asia', 652230, 25500100, 20343000000], ['Albania', 'Europe', 28748, 2831741, 12960000000], ['Algeria', 'Africa', 2381741, 37100000, 188681000000], ['Andorra', 'Europe', 468, 78115, 3712000000], ['Angola', 'Africa', 1246700, 20609294, 100990000000]]
World = pd.DataFrame(data, columns=['name', 'continent', 'area', 'population', 'gdp']).astype({'name':'object', 'continent':'object', 'area':'Int64', 'population':'Int64', 'gdp':'Int64'})

print(World)

          name continent     area  population           gdp
0  Afghanistan      Asia   652230    25500100   20343000000
1      Albania    Europe    28748     2831741   12960000000
2      Algeria    Africa  2381741    37100000  188681000000
3      Andorra    Europe      468       78115    3712000000
4       Angola    Africa  1246700    20609294  100990000000

In [27]:
def result_print(answer):
    return print(answer)

In [28]:
result_print(World[(World['area'] > 3000000) | (World['population'] > 25000000)][['name','population','area']].reset_index(drop=True))

          name  population     area
0  Afghanistan    25500100   652230
1      Algeria    37100000  2381741

In [29]:
import pandasql as ps

query = """
select name, population, area
from World
where area > 3000000 or population > 25000000
"""

result_print(ps.sqldf(query, locals()))

          name  population     area
0  Afghanistan    25500100   652230
1      Algeria    37100000  2381741

### 2번

In [30]:
data = [['0', 'Y', 'N'], ['1', 'Y', 'Y'], ['2', 'N', 'Y'], ['3', 'Y', 'Y'], ['4', 'N', 'N']]
Products = pd.DataFrame(data, columns=['product_id', 'low_fats', 'recyclable']).astype({'product_id':'int64', 'low_fats':'category', 'recyclable':'category'})
print(Products)

   product_id low_fats recyclable
0           0        Y          N
1           1        Y          Y
2           2        N          Y
3           3        Y          Y
4           4        N          N

In [33]:
result_print(Products[(Products['low_fats']=='Y')&(Products['recyclable']=='Y')][['product_id']])

   product_id
1           1
3           3

In [36]:
query = """
select product_id
from Products
where low_fats = 'Y' and recyclable = 'Y'
"""

result_print(ps.sqldf(query, locals()))

   product_id
0           1
1           3

### 3번

In [37]:
data = [[1, 'Joe'], [2, 'Henry'], [3, 'Sam'], [4, 'Max']]
Customers = pd.DataFrame(data, columns=['id', 'name']).astype({'id':'Int64', 'name':'object'})
data = [[1, 3], [2, 1]]
Orders = pd.DataFrame(data, columns=['id', 'customerId']).astype({'id':'Int64', 'customerId':'Int64'})

print(Customers)
print(Orders)

   id   name
0   1    Joe
1   2  Henry
2   3    Sam
3   4    Max
   id  customerId
0   1           3
1   2           1

In [69]:
df = pd.merge(Customers, Orders, left_on= 'id', right_on = 'customerId',how = 'left')
new_df = df[df['customerId'].isnull()]['name'].reset_index(drop = True).to_frame()
print(new_df.rename(columns={'name':'Customers'}))

  Customers
0     Henry
1       Max

In [55]:
query = """
select name as Customers
from Customers 
left join Orders
on Customers.id = Orders.customerId
where customerId is null
"""

result_print(ps.sqldf(query, locals()))

  Customers
0     Henry
1       Max