### Find Total Time Spent by Each Employee

In [1]:
import pandas as pd
import pandasql as ps

data = [['1', '2020-11-28', '4', '32'], ['1', '2020-11-28', '55', '200'], ['1', '2020-12-3', '1', '42'], ['2', '2020-11-28', '3', '33'], ['2', '2020-12-9', '47', '74']]
Employees = pd.DataFrame(data, columns=['emp_id', 'event_day', 'in_time', 'out_time']).astype({'emp_id':'Int64', 'event_day':'datetime64[ns]', 'in_time':'Int64', 'out_time':'Int64'})
print(Employees)

   emp_id  event_day  in_time  out_time
0       1 2020-11-28        4        32
1       1 2020-11-28       55       200
2       1 2020-12-03        1        42
3       2 2020-11-28        3        33
4       2 2020-12-09       47        74

In [24]:
Employees['time'] = Employees['out_time'] - Employees['in_time']

print(Employees.groupby(['event_day','emp_id']).sum('time')['time'].reset_index())

   event_day  emp_id  time
0 2020-11-28       1   173
1 2020-11-28       2    30
2 2020-12-03       1    41
3 2020-12-09       2    27

In [23]:
query = '''
select date(event_day) as day, emp_id, sum(out_time - in_time) as total_time
from Employees
group by day, emp_id
'''

print(ps.sqldf(query,locals()))

          day  emp_id  total_time
0  2020-11-28       1         173
1  2020-11-28       2          30
2  2020-12-03       1          41
3  2020-12-09       2          27

### Game Play Analysis I

In [25]:
data = [[1, 2, '2016-03-01', 5], [1, 2, '2016-05-02', 6], [2, 3, '2017-06-25', 1], [3, 1, '2016-03-02', 0], [3, 4, '2018-07-03', 5]]
Activity = pd.DataFrame(data, columns=['player_id', 'device_id', 'event_date', 'games_played']).astype({'player_id':'Int64', 'device_id':'Int64', 'event_date':'datetime64[ns]', 'games_played':'Int64'})
print(Activity)

   player_id  device_id event_date  games_played
0          1          2 2016-03-01             5
1          1          2 2016-05-02             6
2          2          3 2017-06-25             1
3          3          1 2016-03-02             0
4          3          4 2018-07-03             5

In [46]:
print(Activity.groupby('player_id').min()[['event_date']].reset_index())

   player_id event_date
0          1 2016-03-01
1          2 2017-06-25
2          3 2016-03-02

In [47]:
query = '''
select player_id, date(min(event_date)) as first_login
from Activity
group by player_id
'''

ps.sqldf(query,locals())

   player_id first_login
0          1  2016-03-01
1          2  2017-06-25
2          3  2016-03-02

### Number of Unique Subjects Taught by Each Teacher

In [68]:
data = [[1, 2, 3], [1, 2, 4], [1, 3, 3], [2, 1, 1], [2, 2, 1], [2, 3, 1], [2, 4, 1]]
Teacher = pd.DataFrame(data, columns=['teacher_id', 'subject_id', 'dept_id']).astype({'teacher_id':'Int64', 'subject_id':'Int64', 'dept_id':'Int64'})
print(Teacher)

   teacher_id  subject_id  dept_id
0           1           2        3
1           1           2        4
2           1           3        3
3           2           1        1
4           2           2        1
5           2           3        1
6           2           4        1

In [78]:
print(Teacher.groupby('teacher_id')['subject_id'].nunique().reset_index())

   teacher_id  subject_id
0           1           2
1           2           4

In [73]:
query = '''
select teacher_id, count(distinct subject_id) as cnt
from Teacher
group by teacher_id
'''
print(ps.sqldf(query, locals()))

   teacher_id  cnt
0           1    2
1           2    4